<p id="notice"><%= notice %></p>

<div class="container">
    <div style="background:transparent !important" class="jumbotron jumbotron-text">
      <h1 class="display-4"><span class="top-left">Bienvenido a </span>ComunidadUNAB,
          <%= @user.first_name %>
      </h1>
      <div class="row justify-content-end tf">
          <h3>Sistema comunitario<span class="skere"> de la Universidad Andres Bello</span></h3>
      </div>
      <hr>
      <br>
      <div class="column">
        <div class="row">
          <h5>
            Nombre alumno: <%= @user.first_name %> <%= @user.last_name %>
          </h5>
        </div>
        <br>
        <div class="row">
          <h5>
            Correo: <%= @user.email %>
          </h5>
        </div>
      </div>
  </div>
</div>