<div class="container login-container" align="center">
  <h1 style="margin-bottom: 2rem">Evaluacion</h1>
  <%= form_for(:rating, :html => {class: "form-horizontal", role: "form"}, url: ratings_path) do |f| %>
    <div class="form-group">
      <div class="col-sm-8">
        <%= f.number_field :value, class: "form-control", autofocus: true, min: 1, max: 7  %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-8">
        <%= f.text_field :comment, class: "form-control ", autocomplete: "off" , placeholder: "Escribe un comentario"%>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10 justify-content-center">
        <%= f.hidden_field :course_id, value: @course_id%>
        <%= f.hidden_field :user_id, value: @user_id %> 
        <div class="row justify-content-center">
          <%= f.submit "Evaluar", class: 'btn btn-success btn' %>
        </div>
      </div>
    </div>
  <% end %> 
</div>